fastapi
uvicorn[standard]
python-multipart
streamlit
requests
python-dotenv

langchain
langgraph
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
langchain-pinecone
pinecone
cohere
langchain-cohere

chromadb
pypdf
tiktoken

pytest

